
body{
    background:linear-gradient(
180deg
,#181818 0%,#222222 100%);
    color: #ffffffb3;
    font-family: 'Roboto', sans-serif;
    
}
h1{
 font-size: 35px
}
p{
 font-size: 25px;
}
li{
font-size: 25px;
}
