
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.leftBox{
    width: 40%;
    border: 1px solid black;
    background-color: #0d0f12;
}
.form{
    width: 60%;
    margin-top: 350px;
    margin-left: 100px;
}
.grid{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.icon > img{
    width: 18rem;
    height: 4rem;
    margin-right: -180px;
}
.heading{
    margin-top: 20px;
    font-size: 1.2rem;
    width: 100%;
    color: white;
}
button{
   text-align: center;
   width: 100%;
   height: 35px;
}
.align{
   margin-top: 60px;
   text-align: center;
   font-size: 0.9rem;
   
   font-weight: 200;

}
.align div a{
   color: #2ea0d6;
   text-decoration: none;
}
input{
   width: 100%;
   height: 40px;
background: none;
   border-radius: 2px;
   
  color: white;
 
  
}
.form > div{
   margin-bottom: 25px;
   font-weight: 600;
}
.form > div:nth-child(4) > div:nth-child(1){
  margin-bottom: 20px ; 
  margin-top: 40px;
}
.logo{
  position: relative;
  top: 140px;
  left: 170px;
  width: 50%;
  margin-bottom: -120px;
}
.sign{
   background-color: #00679a;
   border-radius: 3px;
   color: white;
}
.create{
background-color: rgba(138,153,168,.25);
margin-top: 10px;

border-radius: 3px;
}
.white{
   color: white;
  
}
.rightBox{
   background-image: url('https://www.pluralsight.com/content/dam/pluralsight2/login/bg-gtm-2020.png');
   height: 920px;
  background-color: black;
 width: 60%;
background-size: contain;
background-repeat: no-repeat;
background-position: right center;
}
.textBox{
  
   position: relative;
   top: 250px;
   left: 70px;
}
.textBox > img{
   width: 45%;
}
.try{
   width: 20%;
   position: relative;
   top: 300px;
   padding: 12px;
   color: white;
   background: linear-gradient(to right,#F05A28,#EC008C,#F05A28);
   text-align: center;
   left: 70px;
   border-radius: 2px;
}
hr{
box-sizing: content-box;
height: 0;
overflow: visible;
display: block;
unicode-bidi: isolate;
margin-block-start: 0.5em;
margin-block-end: 0.5em;
margin-inline-start: auto;
margin-inline-end: auto;
}
.footer{
  width: 80%;
  
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 170px;
  margin-left: 40px;
  font-size: 14px;
}

.term  a{
 
 color: white;
 
}
#inval{
  width: 100%;
  position: absolute;
  display: flex;
  background-color: red;
  top: 0;
  color: #FFFFFF;
 
}
.invaltext{
   margin-left: 770px;
   margin-right: 800px;
   padding: 0.5%;
}
.clpa{
   padding: 0.5%;
}

.try >a{
   text-decoration: none;
   color: #FFFFFF;
}
